<div class="grid-item horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.3">
	<div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
		<a href="<%= artist_path(artist.slug) %>">
      <img src="<%= url_for(artist.image) %>" width="760" height="500" alt=""/>
    </a>
	</div>
	<div class="team-content-info">
		<h4 class="mb-5"><%= link_to artist.name, artist_path(artist.slug) %></h4>
		<h4 class="occupation">Pintora</h4>
    
    <% if local_assigns[:displays_full_bio] %>
		  <p><%= artist.bio.html_safe %></p>
    <% else %>
		  <p><%= artist.bio.split(".").first.html_safe %>.</p>
    <% end %>
    
    <b><%= link_to "Ir a página del artista", artist_path(artist.slug) %></b>
	</div>
</div>