<%= render 'layouts/artists/header' %>

<!-- Content -->
<div class="content clearfix">

	<!-- Fullscreen Slider Section -->
	<section class="section-block featured-media window-height tm-slider-parallax-container">
		<div class="tm-slider-container full-width-slider pagination-top" data-featured-slider data-parallax data-parallax-fade-out data-animation="slide" data-scale-under="960">
			<ul class="tms-slides">
				<li class="tms-slide" data-image data-as-bkg-image data-force-fit>
					<div class="tms-content">
						<div class="tms-content-inner left v-align-middle">
							<div class="row">
        				<div class="column width-7 pd-20 left center-on-mobile">
        					<h3 class="tms-caption title-large text-uppercase weight-bold color-white mb-0"
        						data-animate-in="preset:slideInDownShort;duration:900ms;delay:100ms;"
        						data-no-scale><%= @artist.name %></h3>
        					<div class="clear"></div>
        					<h4 class="tms-caption title-small text-uppercase lspacing-medium weight-bold color-white mb-10"
        						data-animate-in="preset:slideInDownShort;duration:900ms;delay:300ms;"
        						data-no-scale><%= @artist.birth_place %></h4>
        					<div class="clear"></div>
        					<p class="tms-caption font-alt-1 title-small weight-light color-white hide-on-mobile mb-30"
        						data-animate-in="preset:slideInDownShort;duration:900ms;delay:500ms;"
        						data-no-scale><%= @artist.quote %></p>
        					<div class="clear"></div>
        					<div class="tms-caption"
        						data-animate-in="preset:slideInDownShort;duration:900ms;delay:700ms;"
        						data-no-scale
        					>
						
        					</div>
        				</div>
							</div>
						</div>
					</div>
					<img data-src="<%= @artist.image_url %>" data-retina src="<%= @artist.image_url %>" alt="<% @artist.name %>"/>
				</li>
			</ul>
		</div>
	</section>
	<!-- Fullscreen Slider Section End -->

	<!-- Hero Section 5 End -->
  <section id="about" class="section-block hero-5 hero-5-1 window-height right show-media-column-on-mobile bkg-white color-charcoal">
		<div class="media-column width-5" style="background-image: url(<%= @artworks.first.image_url %>)"></div>
		<div class="row">
			<div class="column width-6">
				<div class="hero-content split-hero-content tmh-perspective">
					<div class="hero-content-inner right horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="0.5">
						<h2 class="mb-30"><%= @artist.name %></h2>
						<div class="lead"><%= @artist.bio.html_safe %></div>
            
  					<h4><span class="title-tiny text-uppercase weight-bold color-white mb-10">Obra principal</span><br/>
              <p class="title-tiny color-white mb-10"><%= @artworks.first.title %>, <%= @artworks.first.year %></p>
            </h4>
            
					</div>
				</div>
			</div>
		</div>
	</section>
          

	<!-- Content Section -->
	<div class="section-block replicable-content bkg-charcoal color-white">
		<div class="row">
			<div class="column width-12 horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="0.5">
				<h2 class="mb-30">Trayectoria</h2>
			</div>
			<div class="column width-5 offset-3 horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;delay:200ms;" data-threshold="0.5">
				<p class="lead"><%= @artist.artwork_details %></p>
			</div>
			<div class="column width-4 horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;delay:400ms;" data-threshold="0.5">
				<div class="stats-1 left">
					<div class="stat box large bkg-black">
						<div class="stat-inner">
							<p class="counter">
                <span class="stat-counter" data-count-from="<%= @artist.artwork_count*0.5.to_int %>" data-count-to="<%= @artist.artwork_count %>"><%= @artist.artwork_count %></span> Obras
              </p>
							<p class="description"><%= @artist.artwork_details_since %></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Content Section End -->

	<!-- Portfolio Grid -->
	<div class="section-block grid-container fade-in-progressively full-width no-margins no-padding" data-layout-mode="masonry" data-grid-ratio="1.5" data-animate-filter-duration="700" data-set-dimensions data-animate-resize data-animate-resize-duration="0" data-as-bkg-image>
		<div class="row">
			<div class="column width-12">
				<div class="row grid content-grid-3">
					<div class="grid-item grid-sizer">
						<div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="1">
							<a class="overlay-link lightbox-link" data-toolbar="zoom" data-group="gallery-1" data-caption="Bunker - Berlin, Germany" href="images/architecture/portfolio/grid/no-margins/project-1-lightbox.jpg">
								<img src="images/architecture/portfolio/grid/no-margins/project-1-landscape.jpg" alt=""/>
								<span class="overlay-info">
									<span>
										<span>
											<span class="project-title">Bunker</span>
											<span class="project-description">Berlin, Germany</span>
										</span>
									</span>
								</span>
							</a>
						</div>
					</div>
					<div class="grid-item portrait">
						<div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="1">
							<img src="images/architecture/portfolio/grid/no-margins/project-3-portrait.jpg" alt=""/>
						</div>
						<div class="content-outer">
							<div class="content-inner color-white">
								<div class="row">
									<div class="column width-4 offset-4 center">
										<a class="lightbox-link icon-play icon-circled border-white bkg-hover-theme color-white color-hover-white circled medium" data-toolbar="zoom" data-group="gallery-1" data-caption="The Building of Munster" href="http://player.vimeo.com/video/119087784?autoplay=1" ></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="grid-item">
						<div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="1">
							<a class="overlay-link lightbox-link" data-toolbar="zoom" data-group="gallery-1" data-caption="Gropius - Madrid, Spain" href="images/architecture/portfolio/grid/no-margins/project-2-lightbox.jpg">
								<img src="images/architecture/portfolio/grid/no-margins/project-2-landscape.jpg" alt=""/>
								<span class="overlay-info">
									<span>
										<span>
											<span class="project-title">Gropius</span>
											<span class="project-description">Madrid, Spain</span>
										</span>
									</span>
								</span>
							</a>
						</div>
					</div>
					<div class="grid-item">
						<div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="1">
							<a class="overlay-link lightbox-link" data-toolbar="zoom" data-group="gallery-1" data-caption="Schröder - Stockholm, Sweden" href="images/architecture/portfolio/grid/no-margins/project-4-lightbox.jpg">
								<img src="images/architecture/portfolio/grid/no-margins/project-4-landscape.jpg" alt=""/>
								<span class="overlay-info">
									<span>
										<span>
											<span class="project-title">Schröder</span>
											<span class="project-description">Stockholm, Sweden</span>
										</span>
									</span>
								</span>
							</a>
						</div>
					</div>
					<div class="grid-item">
						<div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="1">
							<a class="overlay-link lightbox-link" data-group="gallery-1" data-caption="Farnsworth - Plano Il, U.S" href="images/architecture/portfolio/grid/no-margins/project-5-lightbox.jpg">
								<img src="images/architecture/portfolio/grid/no-margins/project-5-landscape.jpg" alt=""/>
								<span class="overlay-info">
									<span>
										<span>
											<span class="project-title">Farnsworth</span>
											<span class="project-description">Plano IL, U.S</span>
										</span>
									</span>
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Portfolio Grid End -->

	<!-- Testimonial Section 5 -->
	<div class="section-block testimonial-5 testimonials-5-about-1">
		<div id="testimonial-slider-1" class="testimonial-slider tm-slider-container">
			<ul class="tms-slides">	
				<li class="tms-slide" data-image>
					<div class="tms-content-scalable">
						<div class="row">
							<div class="column width-8 offset-2">
								<blockquote class="center large">
									<p>Incredible work! Best creative experience ever; timely, well executed and one hell of the result. Would recommend Nietszche to anyone who is looking to revamp their identity.
										<cite>John K. Riley - Harvest Goods.</cite>
									</p>
								</blockquote>
							</div>
						</div>
					</div>
				</li>
				<li class="tms-slide" data-image>
					<div class="tms-content-scalable">
						<div class="row">
							<div class="column width-8 offset-2">
								<blockquote class="center large">
									<p>A five star agency without doubt. Hire them!
										<cite>John A. Adams - Repetition</cite>
									</p>
								</blockquote>
							</div>
						</div>
					</div>
				</li>
				<li class="tms-slide" data-image>
					<div class="tms-content-scalable">
						<div class="row">
							<div class="column width-8 offset-2">
								<blockquote class="center large">
									<p>Creativity redefined. These guys offer a unique approach to every aspect<br> of design and the result is simply stunning.
										<cite>Jane Lariken - MUD Clothing.</cite>
									</p>
								</blockquote>
							</div>
						</div>
					</div>
				</li>
				<li class="tms-slide" data-image>
					<div class="tms-content-scalable">
						<div class="row">
							<div class="column width-8 offset-2">
								<blockquote class="center large">
									<p>Design, design and redesign is their motto. Sartre won't stop until they have the perfect match between functionality and esthetic.
										<cite>Jack Tromso - Orcha Co.</cite>
									</p>
								</blockquote>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!-- Testimonial Section 5 End -->
  <%= render partial: 'artists/sections/contact', locals: { artist: @artist } %>
  