<% if defined?(disable_support_for_picture_sizes) && disable_support_for_picture_sizes %>
<div class="grid-item <%= artwork.parameterized_category_list %>">
<% else %>
<div class="grid-item <%= artwork.disposition_on_landing_page %> <%= artwork.parameterized_category_list %>">
<% end %>
  <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.4">
  
  	<a href="<%= artwork_path(artwork.id, artwork.slug) %>">
  		<%= image_tag(artwork.image) if artwork.image.attached? %>
  		<span class="overlay-info v-align-bottom left">
  			<span>
  				<span>
  					<span class="text-line bkg-white mb-10"></span>
  					<span class="project-title"><%= artwork.title %></span>
  					<!--<span class="project-description"><%= year_tag_for(artwork.year) %></span>-->
  				</span>
  			</span>
  		</span>
  	</a>
  </div>
</div>