<article class="post">
	<div class="post-media">
		<div class="thumbnail">
			<a class="overlay-link" href="<%= artwork_path(artwork) %>">
        <%= image_tag(artwork.image) %>
			</a>
		</div>
	</div>
	<div class="post-content">
		<h2 class="post-title"><%= link_to artwork.title, artwork_path(artwork) %></h2>
		<div class="post-info">
			<span class="post-date"><%= distance_of_time_in_words_to_now(artwork.created_at) %></span>/
      <span class="post-autor">Por <%= link_to artwork.artists.first.name, artist_path(artwork.artists.first.slug) %></span>
		</div>
	</div>
</article>