<%= render 'shared/header_opaque' %>
<%= render partial: 'shared/metatags', locals: { seo: @artwork } %>

<!-- Content -->
<div class="content clearfix">
	
	<div class="section-block clearfix no-padding-bottom">
		<div class="row">
			<div class="column width-10 content-inner blog-regular">
  			<div class="post-content center mb-20">
  				<h1 class="post-title no-margins no-padding"><%= @artwork.title %></h1>
          
      		<div class="post-info">
            <hr/>
      			<span class="post-date">Publicada <%= distance_of_time_in_words_to_now(@artwork.created_at) %></span>/
            <span class="post-autor">Por <%= render partial: 'artworks/artists_names_as_links', locals: { artists: @artwork.artists } %></span>
      		</div>
  			</div>
				<article class="post no-padding no-margins">
					<div class="post-media center">
						<div class="thumbnail gallery" itemscope itemtype="http://schema.org/ImageGallery">
							<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
								<a href="<%= url_for(@artwork.image) %>" itemprop="contentUrl" data-size="auto">
									<%= image_tag(@artwork.image, itemprop: "thumbnail") %>
								</a>
							</figure>
						</div>
					</div>
				</article>
  			<div class="post no-padding no-margins">
  				<p class="text-xlarge center"><%= @artwork.escaped_details.blank? ? "No hay detalles sobre esta obra" : @artwork.escaped_details %></p>
  			</div>
  			<div class="post-content center mb-20">
          <p class="text-large no-margins no-padding"><b>Dimensiones: </b><%= @artwork.width %> x <%= @artwork.height %> metros</p>
          <p class="text-large no-margins no-padding"><b>Año: </b><%= @artwork.year %></p>
        </div>
      </div>
      
			<div class="column width-2 content-inner blog-regular">
				<h4 class="no-margins no-padding center"><%= link_to "← Atrás", :back %></h4>
        <hr/>
        <div class="center">
  				<p class="text-large mb-10">Compartir</p>
          <%= render partial: 'shared/share_buttons', locals: { sharable_object: @artwork } %>
        </div>
      </div>
    </div>
    <hr/>
    
	</div>
  
  <% @artist_artworks.each do |artist, artist_artworks| %>
    <div class="section-block grid-container small-margins no-padding mb-40" data-layout-mode="masonry" data-grid-ratio="1.5" data-animate-filter-duration="700" data-set-dimensions data-animate-resize data-animate-resize-duration="0">
    	<div class="row no-padding">
    		<div class="column width-12 center mb-30 mt-30">
    			<h3 class="mb-mobile-50">Más obras de <b><%= artist.name %></b></h3>
    		</div>
    	</div>
    	<div class="row">
    		<div class="column width-12">
    			<div class="row grid content-grid-3">
            <% artist_artworks.map(&:artwork).each do |artwork| %>
              <%= render partial: 'artworks/artwork', locals: { artwork: artwork, disable_support_for_picture_sizes: true } %>
            <% end %>
    			</div>
    		</div>
    	</div>
    </div>
  <% end %>
  
</div>


