<section class="section-block featured-media window-height tm-slider-parallax-container">
	<div class="tm-slider-container full-width-slider pagination-top" data-featured-slider data-parallax data-parallax-fade-out data-animation="slide" data-scale-under="960">
		<ul class="tms-slides">
			<li class="tms-slide" data-image data-as-bkg-image data-force-fit>
				<div class="tms-content">
					<div class="tms-content-inner left v-align-middle">
						<div class="row">
      				<div class="column width-7 pd-20 left center-on-mobile">
      					<h3 class="tms-caption title-large text-uppercase weight-bold color-white mb-0"
      						data-animate-in="preset:slideInDownShort;duration:900ms;delay:100ms;"
      						data-no-scale><%= artist.name %></h3>
      					<div class="clear"></div>
      					<h4 class="tms-caption title-small text-uppercase lspacing-medium weight-bold color-white mb-10"
      						data-animate-in="preset:slideInDownShort;duration:900ms;delay:300ms;"
      						data-no-scale><%= artist.birth_place %></h4>
      					<div class="clear"></div>
      					<p class="tms-caption font-alt-1 title-small weight-light color-white hide-on-mobile mb-30"
      						data-animate-in="preset:slideInDownShort;duration:900ms;delay:500ms;"
      						data-no-scale><%= artist.quote %></p>
      					<div class="clear"></div>
      					<div class="tms-caption"
      						data-animate-in="preset:slideInDownShort;duration:900ms;delay:700ms;"
      						data-no-scale
      					>
					
      					</div>
      				</div>
						</div>
					</div>
				</div>
				<img data-src="<%= url_for(artist.image) %>" data-retina src="<%= url_for(artist.image) %>" alt="<% artist.name %>"/>
			</li>
		</ul>
	</div>
</section>