<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-overlay-bkg-color="#8762eb" data-overlay-bkg-opacity="0.75">
	<div class="tms-content">
		<div class="tms-content-inner v-align-middle">
			<div class="row">
				<div class="column width-7 pd-20 left center-on-mobile">
					<h5 class="tms-caption title-small text-uppercase weight-bold color-white mb-0"
						data-animate-in="preset:slideInDownShort;duration:900ms;delay:100ms;"
						data-no-scale><%= slide.first_heading %></h5>
					<div class="clear"></div>
					<h1 class="tms-caption title-xlarge text-uppercase lspacing-medium weight-bold color-white mb-10"
						data-animate-in="preset:slideInDownShort;duration:900ms;delay:300ms;"
						data-no-scale><%= slide.second_heading %></h1>
					<div class="clear"></div>
					<p class="tms-caption font-alt-1 title-small weight-light color-white hide-on-mobile mb-30"
						data-animate-in="preset:slideInDownShort;duration:900ms;delay:500ms;"
						data-no-scale><%= slide.third_heading %></p>
					<div class="clear"></div>
					<div class="tms-caption"
						data-animate-in="preset:slideInDownShort;duration:900ms;delay:700ms;"
						data-no-scale
					>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<img data-src="<%= slide.image_url %>" data-retina src="<%= slide.image_url %>" alt=""/>
</li>