<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-overlay-bkg-color="#000000" data-overlay-bkg-opacity="0.4">
	<div class="tms-content">
		<div class="tms-content-inner left left-on-mobile v-align-middle">
			<div class="row">
				<div class="column width-12">
					<p class="tms-caption color-white title-medium weight-light mb-10" data-no-scale data-animate-in="preset:slideInDownShort;duration:800ms;delay:400ms;">
						<%= slide.first_heading %>
					</p>
					<div class="clear"></div>
					<h1 class="tms-caption color-white title-large weight-bold mb-50" data-no-scale data-animate-in="preset:slideInUpShort;duration:800ms;delay:100ms;">
						<%= slide.second_heading %>
					</h1>
          <% unless slide.url.blank? %>
  					<div class="clear"></div>
  					<a href="<%= slide.url %>" class="tms-caption button medium text-small text-uppercase border-white color-white bkg-hover-charcoal color-hover-white" 
  						data-animate-in="preset:slideInRightShort;duration:1000ms;delay:1000ms;"
  						data-no-scale>
  						Visitar
  					</a>
          <% end %>
				</div>
			</div>
		</div>
	</div>
	<img data-src="<%= slide.image_url %>" data-retina src="<%= slide.image_url %>" alt=""/>
</li>