<div class="section-block replicable-content">
	<div class="row flex">
		<div class="column width-8 push-2 center">
			<p class="lead">En <b>Artística</b> encontrarás un espacio que se renueva semana a semana con las creaciones de artistas independientes locales.</p>
		</div>
	</div>
</div>
<div class="section-block fade-in-progressively no-margins no-padding">
	<div class="row">
		<div class="column width-12 center">
			<h3 class="mb-mobile-50">Obra reciente</h3>
		</div>
		<div class="column width-12">
			<div class="row">
				<% artworks.each_slice(2) do |artwork_pair| %>
					
					<% artwork_pair.each do |artwork| %>
						<div class="column width-6">
							<div class="row">
								<div class="thumbnail img-scale-in recent-picture" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.3">
									<a href="<%= artwork_path(artwork.id, artwork.title.parameterize) %>">
										<div style="width: 100%; height: 500px; background-image: url('<%= artwork.url %>'); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;"></div>
										<span class="overlay-info">
											<span>
												<span>
													<span class="left inline">
														<span class="project-title"><%= artwork.title %></span>
														<span class="project-description"><%= seo_for_keywords(artwork) %></span>
													</span>
												</span>
											</span>
										</span>
									</a>
								</div>
							</div>
						</div>
					<% end %>
						
				<% end %>
			</div>
		</div>
	</div>
</div>
<div class="section-block no-margin no-padding mt-70">
	<div class="row flex">
		<div class="column width-8 push-2 center">
			<a class="button medium bkg-theme bkg-hover-charcoal color-white color-hover-white text-uppercase" href="<%= artworks_path %>">Ver todas las obras</a>
		</div>
	</div>
</div>